<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="600;url=http://localhost:63342/HomeServiceProvider/templates/secondPage.html"/>

    <title>Online payment</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
        const request = $.ajax({
            type: "POST",
            url: "/customer/onlinePay",
            data: {
                cardNumber: $('.cardNumber').val()
            },
            success: function (response) {
                alert(response.status);
            },
            error: function () {
                alert("error");
            },
        });
    </script>
</head>
<body>

<div class="container ">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title ">
                        *** System Payment Online Bank Meli Iran *** </h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/customer/onlinePay}" role="form" method="post">
                        <div class="form-group">
                            <label for="cardNumber">
                                 Card Number</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=" Card Number"
                                       required autofocus/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-8">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-4 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">
                                        CVV2</label>
                                    <input type="password" class="form-control" id="cvCode" placeholder="Cvv2"
                                           required/>
                                </div>
                            </div>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LcKj7gjAAAAAHIs706h9ovdowMJPG4Hbi0G_XiP"></div>
                        <button class="btn btn-success btn-lg btn-block" type="submit" value="submit">پرداخت آنلاین
                        </button>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right"><span
                        class="glyphicon glyphicon-usd"></span>100.000.0</span> وجه قابل پرداخت </a>
                </li>
            </ul>
            <br/>
        </div>
    </div>
</div>

</body>
</html>
<script>
    $("#submitPayment").on('click', function () {
        let form = new FormData();
        let creditCard = $("#creditCardNumber1").val();
        form.append("creditCardNumber", creditCard);
        form.append("cvv2", $("#cvv2").val());
        $.ajax({
            url: "http://localhost:8080/",
            data: form,
            type: "POST",
            contentType: false,
            dataType: 'text',
            headers: {
                "captcha-response": captchaResponse
            },
            processData: false,
            cache: false,
            success: function (msg) {
                alert("successful")
            }, error: function (request) {
            }
        });
    });
</script>
